@page
@model JobPortal.Areas.Job.Pages.AppliedJobModel
@{
}

<div class="form-group">
    <div class="col-12">
        <div class="float-right"><b>Total jobs applied :</b> @Model.UserJob.Count</div>
        <h2>Applied Jobs</h2>
        <hr />
    </div>
</div>

<div class="form-group">
    <div class="col-12">
        <div id="cardBody">
            <partial name="_AppliedJob" />
        </div>
    </div>
</div>

