@page
@model JobPortal.Areas.Job.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<link href="~/lib/toastr/toastr.css" rel="stylesheet" />

<h1>Details</h1>

<br />
@if (Model.ShowMessage)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}



<partial name="_ApplyForm"/>

@section Scripts{
    <script src="~/lib/bootbox/bootbox.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });

    </script>
}