@page
@model JobPortal.Areas.Identity.Pages.Employer.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
@*<link href="~/lib/summernote/dist/summernote-bs4.css" rel="stylesheet" />*@

<h2>Create</h2><h4 class="text-muted">Job</h4>

<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post" asp-area="Identity" asp-page-handler="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger small" })

            <div class="form-group">
                <label asp-for="Job.Title" class="control-label"></label>
                <input asp-for="Job.Title" class="form-control" />
                <span asp-validation-for="Job.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Description" class="control-label"></label>
                @*<textarea asp-for="Job.Description" id="description" class="form-control"></textarea>*@
                <input asp-for="Job.Description" class="form-control" />
                <span asp-validation-for="Job.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.City" class="control-label"></label>
                <input asp-for="Job.City" class="form-control" />
                <span asp-validation-for="Job.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



   
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.tiny.cloud/1/i9xysxqr7gbdxteka38kr1cgiq2yx2c18x07m7k2nbctdg24/tinymce/5/tinymce.min.js"></script>
    <script>
   tinymce.init({
       selector: '#description',
       height: 300,
       width : 900
       
  });
    </script>
}
