@page
@model JobPortal.Areas.Employer.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
       <partial name="_DetailsData" />
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job.JobId" class="btn btn-warning">Edit</a> 
    <a asp-page="./Index" class="btn btn-primary float-right">Back to List</a>
</div>
