@page
@model JobPortal.Areas.Employer.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="form-group">
    <div class="col-12">
        <p class="mb-3">
            <a asp-area="Employer" asp-page="Create" class="btn btn-success float-right mt-3"><i class="fa fa-plus"></i> Create job</a>
        </p>
        <h2>Job </h2><h4 class="text-muted">Management</h4>


    </div>
</div>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].City)
            </th>
            <th>
                Post date
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    
    <partial name="_IndexData" />
</table>

@section Scripts{

    <script src="~/lib/typeahead.js/main.js"></script>
}